<%- include("partials/header") %>
<main id="content" class="container">
  <h1>Scans</h1>

  <a href="/upload">Upload a Scan</a>
  <hr />
  <ul>
    <% for (scan of scans) { %>
      <li>
        <a href="<%= scan.link %>"><%= scan.dateCreated %></a>
      </li>
    <% } %>
  </ul>

</main>

<%- include("partials/footer") %>